<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.redandborder.pingphone" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="com.redandborder.pingphone.util.MeasurementGAManager">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity
            android:name=".Standby"
            android:label="@string/app_name" >
            <receiver android:name="com.redandborder.pingphone.UninstallReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package"/>
            </intent-filter>
            </receiver>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
          </activity>
        <activity
            android:name=".SkypeSetting"
            android:label="@string/title_activity_skype_setting" >
        </activity>
        <activity
            android:name=".PasswordSetting"
            android:label="@string/title_activity_password_setting" >
        </activity>
        <activity
            android:name=".History"
            android:label="@string/title_activity_history" >
        </activity>
        <activity
            android:name=".Debug"
            android:label="@string/title_activity_debug" >
        </activity>
        <activity
            android:name=".SettingsMenu"
            android:label="@string/title_activity_settings_menu" >
        </activity>
        <activity
            android:name=".MailSetting"
            android:label="@string/title_activity_mail_setting" >
        </activity>
        <service android:name=".service.ToastService"/>
    </application>

</manifest>
